NODE_ENV=production
PORT=9191
API_HOST=0.0.0.0

APP_URL=https://apichat.sytes.net
FRONTEND_URL=https://atendimento.sytes.net
FRONTEND_URLS=https://atendimento.sytes.net,https://apichat.sytes.net,http://localhost:3000

VAPID_PUBLIC_KEY=your_vapid_public_key
VAPID_PRIVATE_KEY=your_vapid_private_key
VAPID_SUBJECT=mailto:suporte@seudominio.com

DB_HOST=localhost
DB_PORT=3306
DB_NAME=api_chat
DB_USER=root
DB_PASS=
DB_DIALECT=mysql

JWT_SECRET=change-me
JWT_EXPIRES_IN=15m
JWT_REFRESH_SECRET=change-me-refresh
JWT_REFRESH_EXPIRES_IN=7d
CLIENT_CHAT_CODE_SECRET=change-me-client-code-secret

BCRYPT_SALT_ROUNDS=10

UPLOAD_DIR=src/uploads
UPLOAD_MAX_SIZE_MB=0

CLIENTE_API_BASE_URL=https://api.codeacode.com.br/api
CLIENTE_API_CLIENTES_PATH=/clientesgeral
CLIENTE_API_KEY=
CLIENTE_API_TOKEN=
CLIENTE_API_USERNAME=
CLIENTE_API_PASSWORD=
CLIENTE_API_TIMEOUT_MS=10000
CLIENTE_API_CACHE_TTL_MS=60000
CLIENTE_API_MOCK_ENABLED=false

ADMIN_DEFAULT_NAME=Administrador
ADMIN_DEFAULT_EMAIL=admin@admin.com
ADMIN_DEFAULT_PASSWORD=123456
PUSHALERT_REST_API_KEY=your_pushalert_rest_api_key
PUSHALERT_SEND_URL=https://api.pushalert.co/rest/v1/send

FASTDEPIX_BASE_URL=https://fastdepix.space/api/v1
FASTDEPIX_API_KEY=fdpx_sua_chave_api_aqui
FASTDEPIX_NOTIFICATION_URL=https://apichat.sytes.net/pix/webhook
FASTDEPIX_TIMEOUT_MS=15000
